body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding-top: 5rem;
}

ul > li {
  list-style: none;
}

.todo-checkbox {
  margin-right: 0.8rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.btn-remove {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.btn-remove:hover {
  color: white;
  background-color: red;
}

.todo-done {
  text-decoration: line-through;
}

.form-add-new {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btn-add-new {
  cursor: pointer;
}

.btn-add-new:hover {
  background-color: darkgreen;
  border-color: darkgreen;
  color: white;
}

.loader {
  height: 70px;
  width: 70px;
  border-width: 5px;
  border-style: solid;
  border-color: darkgreen transparent;
  border-radius: 50%;
  animation: loader-spinning 2s infinite linear;
}

@keyframes loader-spinning {
  0% {
    transform: rotation(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
